body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: skyblue;
    color: violet
}

header {
    background-color: #6c63ff;
    color: peachpuff;
    text-align: center;
    padding: 30px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

h2 {
    color: #6c63ff;
}

ul {
    list-style-type: square;
}

.project {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: beige;
}
