body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    
}

header {
    text-align: center;
    padding: 50px 20px;
    background: #1f1f1f;
}

h1 {
    margin: 0;
    font-size: 40px;
}

section {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

.project-card {
    background: #1f1f1f;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    background: #292929;
}

a {
    color: #00bfff;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1f1f1f;
}
